body {
    text-align: center;
    background: rgb(226,228,228);
    background: radial-gradient(circle, rgba(226,228,228,1) 10%, rgba(169,169,169,1) 90%);
}

h1 {
    font-family: 'Lilita One', cursive;
    font-size: 70px;
    margin: 0.2em;
    padding-top: 10px;
    -webkit-box-shadow: 3px 4px 27px -4px rgba(186,169,186,1);
    -moz-box-shadow: 3px 4px 27px -4px rgba(186,169,186,1);
    box-shadow: 3px 4px 27px -4px rgba(186,169,186,1);
}

h2 {
    margin: 1em 0 0.25em;
    font-family: 'Montserrat', sans-serif;
    padding: 5px;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;

    -webkit-box-shadow: 9px 14px 30px -9px rgba(0,0,0,0.41);
-moz-box-shadow: 9px 14px 30px -9px rgba(0,0,0,0.41);
box-shadow: 9px 14px 30px -9px rgba(0,0,0,0.41);
}

tr {
    height: 25px;
}

td {
    width: 25px;
}

input[type=number] {
    width: 6em;
}

.button {
  backface-visibility: hidden;
  position: relative;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  background: linear-gradient(180deg,#f9f9f9 0%,#e0e0e0 100%);
  border-radius: 100px;
  border: 0.5px solid rgba(0%,0%,0%,0.2);
  border-width: 0.5px 0.5px 0.5px 0.5px;
  padding: 10px 22px 10px 22px;
  box-shadow: 0px 1px 1px rgba(0%,0%,0%,0.6),0px 0px 5px rgba(255,255,255,1),0px 1px 0px 3px rgba(0,0,0,0.2),inset 0px 1px 0px rgba(255,255,255,1);
  color: #000000;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: normal
  }
  
